.embla {
	position: relative;
	width: 90%;
}

.embla__viewport {
	overflow: hidden;
}

.embla__container {
	display: flex;
}

.embla__slide {
	flex: 0 0 100%;
	border: 2px solid var(--text-color);
	border-radius: 10px;
	width: 60px;
	height: 200px;
}

button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	padding: 4px;
	background-color: var(--text-color);
	color: var(--bg-color);
	font-weight: 1000;
}

button:hover {
	cursor: pointer;
	opacity: 90%;
}

button.embla__prev {
	position: absolute;
	top: 40%;
	left: 2%;
}

button.embla__next {
	position: absolute;
	top: 40%;
	right: 2%;
}

.dot-buttons {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 5px;
	bottom: 4%;
}

button.embla__dot {
	width: 15px;
	height: 15px;
	background-color: var(--bg-color);
	border: 1px solid var(--text-color);
}

button.embla__dot:hover {
	background-color: var(--sub-color);
}

button.embla__dot--selected {
	background-color: var(--text-color);
}

button.embla__dot--selected:hover {
	background-color: var(--text-color);
}
