.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about p {
    /* font-size: 20px; */
    font-size: 1.2rem;
    padding: 0px 10px 0px 10px;
}

img {
    width: 60px;
    height: 60px;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

ul {
    font-size: 1.1rem;
    margin-left: 40px;
    margin-bottom: 20px;
    line-height: 1.6rem;
    display: flex;
    justify-content: left;
}

@media (min-width: 600px) {
    .about p {
        font-size: 1.4rem;
    }

    .skills-container {
        gap: 40px;
        margin-left: 20%;
        margin-right: 20%;
    }
}
