.buttons-container button {
	padding: 8px;
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 8px;
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.buttons-container button:hover {
	cursor: pointer;
	width: 200px;
	margin-right: -20px;
}

.background-color,
.sub-color,
.main-color {
	width: 20px;
	height: 20px;
	border-radius: 20px;
}
