* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root.camping {
    --bg-color: #faf1e4;
    --main-color: #618c56;
    --caret-color: #618c56;
    --sub-color: #c2b8aa;
    --sub-alt-color: #e7dccb;
    --text-color: #3c403b;
    --error-color: #ad4f4e;
    --error-extra-color: #7e3a39;
    --colorful-error-color: #ad4f4e;
    --colorful-error-extra-color: #7e3a39;
}

:root.onedark {
    --bg-color: #2f343f;
    --caret-color: #61afef;
    --main-color: #61afef;
    --sub-color: #eceff4;
    --sub-alt-color: #262b34;
    --text-color: #98c379;
    --error-color: #e06c75;
    --error-extra-color: #d62436;
    --colorful-error-color: #d62436;
    --colorful-error-extra-color: #ff0019;
}

:root.superuser {
    --bg-color: #262a33;
    --main-color: #43ffaf;
    --caret-color: #43ffaf;
    --sub-color: #526777;
    --sub-alt-color: #1f232c;
    --text-color: #e5f7ef;
    --error-color: #ff5f5f;
    --error-extra-color: #d22a2a;
    --colorful-error-color: #ff5f5f;
    --colorful-error-extra-color: #d22a2a;
}

:root.retro {
    --bg-color: #dad3c1;
    --main-color: #1d1b17;
    --caret-color: #1d1b17;
    --sub-color: #918b7d;
    --sub-alt-color: #c8c3b3;
    --text-color: #1d1b17;
    --error-color: #bf616a;
    --error-extra-color: #793e44;
    --colorful-error-color: #bf616a;
    --colorful-error-extra-color: #793e44;
}

:root.dracula {
    --bg-color: #282a36;
    --main-color: #bd93f9;
    --caret-color: #bd93f9;
    --sub-color: #6272a4;
    --sub-alt-color: #20222c;
    --text-color: #f8f8f2;
    --error-color: #ff5555;
    --error-extra-color: #f1fa8c;
    --colorful-error-color: #ff5555;
    --colorful-error-extra-color: #f1fa8c;
}

:root.taro {
    --bg-color: #b3baff;
    --main-color: #130f1a;
    --caret-color: #00e9e5;
    --sub-color: #6f6c91;
    --sub-alt-color: #a3a7df;
    --text-color: #130f1a;
    --error-color: #ffe23e;
    --error-extra-color: #fff1c3;
    --colorful-error-color: #ffe23e;
    --colorful-error-extra-color: #fff1c3;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body *::selection {
    color: var(--bg-color);
    background-color: var(--text-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
